.App {
  text-align: center;
}

button {
  padding: 25px;
  border: none;
  outline: none;
  border-radius: 10px;
  color: #000;
  font-size: 20px;
  background-color: blanchedalmond;
  cursor: pointer;
}
